@model mmm.Titre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Titre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datetitre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetitre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prixtitre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prixtitre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.villetitre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.villetitre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.clientnom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.clientnom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idtitre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
